*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
a{
    text-decoration: none;
    color: #262626;
    font-size: 45px;
    font-family: sans-serif;
    border: 2px solid #262626;
    padding: 40px 80px;
}
a:hover{
    border: 2px solid #955252;
    text-shadow: 1px 2px 2px #955252;
}